@media (max-width : 740px) {
    .s-col-full,
    .s-full-width {
        width : 100%
    }

    .s-mt-8 {
        margin-top : 8px !important;
    }

    #header {
        overflow : hidden;
    }

    #header .mobile-menu-btn {
        display : block;
    }

    #header .search-btn{
        display : none;
    }

    #nav {
        display : block
    }

    #nav .subnav {
        position : initial;
        background-color : rgba(123, 17, 119, 0.9);
    }

    #nav .subnav li a {
        color : white;
        padding : 5px 31px;
    }

    #nav > li {
        display : block;
    }

    #nav > li:first-child{
        display : inline-block;
    }

    #content .member-avt {
        width : 60%;
    }

    .contact-form{
        margin-top : 16px;
    }
}