* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
}

#header{
    height: 46px;
    background-color: rgb(85, 12, 83);
    position: fixed;
    left : 0;
    right : 0;
    top : 0;
}

#nav{
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative
}

#nav > li > a {
    color : white;
    text-transform: uppercase;
}

/* xóa bỏ gạch chân và tạo chiều cao cho navigation */
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding : 0 24px;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color : black;
    background-color: #ccc;
    display: block;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    top : 100%;
    left : 0;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px #ccc;
}

/* bỏ dấu chấm đầu dòng cho mục subnav */
#nav, .subnav { 
    list-style-type: none;
} 

#nav .subnav li a {
    color : black;
    padding : 0 12px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

/* cho box search được hiện lên trên thanh navigation */
#header .search-btn{
    float : right;
}

/* cursor pointer đưa chuột vào hiện ra bàn tay */
#header .search-btn:hover {
    background-color: blueviolet;
    cursor: pointer;
}

/* line-height căn giữa cho search button */
#header .search-icon {
    font-size: 20px;
    color : white;
    line-height: 46px;
    padding : 0 21px;
}

#slider {
    margin-top : 46px
}

#content {
    height: 1000px;
    background-color: #333;
}

#footer {

}